<!DOCTYPE html>
<html>

<head>
    <title>Input Form</title>
</head>

<body>
    <form method="POST">
        <label for="input_text">Input Text:</label>
        <input type="text" id="input_text" name="input_text">
        <button type="submit">Submit</button>
        <p> {{ error_message }}</p>
    </form>

</body>
<a href="http://www.goo.ne.jp/">
    <img src="//u.xgoo.jp/img/sgoo.png" alt="supported by goo" title="supported by goo">
</a>
<br />

<a href="http://compling.hss.ntu.edu.sg/wnja/index.ja.html">
    日本語ワードネット （1.1版）© 2009-2011 NICT, 2012-2015 Francis Bond and 2016-2022 Francis Bond, Takayuki Kuribayashi　
</a>

</html>